.site-content {
	display: block;
	margin-right: auto;
	margin-left: auto;
	// 	@media (min-width: $larger-than-tablet) {
	// 	width: $site_maxwidth-content
	// }
}

.content-area {
	// margin: 0 (-$size__site-sidebar) 0 0;
	// body.has-sidebar & {
		@media (min-width: $larger-than-tablet) {
			width: $nine-col;
			// float: left;
			margin-right: auto;
			margin-left: auto;
		// }
	}
}

.site-main {
	// margin: 0 $size__site-sidebar 0 0;
	@media (min-width: $larger-than-phablet) {
		width: $two-thirds-col;
		margin-right: auto;
		margin-left: auto;
	}
}

.site-content .widget-area {
	// overflow: hidden;
	@media (min-width: $larger-than-tablet) {
		width: $three-col;
		float: right;
	}
}

.site-footer {
	clear: both;
	width: $size__site-main;
}

@import "has-sidebar";
