.site,
.wrapper {
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-right: $col__margin;
	padding-left: $col__margin;
	max-width: $site_maxwidth;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer";

/*--------------------------------------------------------------
## Content
--------------------------------------------------------------*/
@import "content";
