h1, h2, h3, h4, h5, h6 {
	font-family: $font__heading;
	line-height: $font__line-height-heading;
	margin-top: 0;
	margin-bottom: 1rem;
	font-weight: 300;
	clear: both;
}

h1 {
	@include font-size(40);
}
h2 {
	@include font-size(36);
}
h3 {
	@include font-size(30);
}
h4 {
	@include font-size(24);
}
h5 {
	@include font-size(20);
}
h6 {
	@include font-size(17);
}

.site-branding .site-title {
	color: $color__primary-text;
	@include font-size(28);
	text-transform: lowercase;
	line-height: 1.75;
	& a {
		text-decoration: none;
		color: $color__primary-text;
		& .first {
			font-family: $font__heading;
		}
		& .divider {
			color: $color__primary-dark;
			font-family: "Finicon";
			vertical-align: bottom;
			letter-spacing: -.35em;
			margin-left: -.35em;
		}
		& .last {
			font-weight: bold;
			font-family: $font__main;
		}
	}
	@media (min-width: $larger-than-tablet) {
		@include font-size(34);
		line-height: 1.15;
		.has-header-image & {
			line-height: 1.3;
		}
	}
}

.entry-header {
	@media (min-width: $larger-than-tablet) {
		margin-left: -27%;
		margin-right: -27%;
	}
}

.entry-title {
	.home & {
		width: 50%;
		margin-top: 10%;
	}

}
